/* General body and layout */
:root {
  --main-font: helvetica, arial, sans-serif;
  --font-base: 1rem ;
  --font-small: 0.8rem ;
  --font-medium: 1.2rem ;
  --font-large: 1.6rem ;
  --font-xlarge: 2rem ;
  --font-xxlarge: 2.4rem ;
  --main-text-color: black;
  --second-text-color: #892E38; 
  --third-text-color: navy; 
  --accent-color: white;
  --background-color: #51A4C8;
  --default-padding: 1rem
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}
body {
    font-family: 'Lexend', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #3aaed8;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

footer {
    background-color: #3aaed8;
    color: #f4f1ee;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

header {
    background-image: linear-gradient(to bottom, #e6e6fa, #e6e6fa);
    padding: 10px 0px;
    display: flex;
    color: #3aaed8;
    justify-content: center;
    min-width: 100%;
    max-height: 150px;
}

.parallax {
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

/*Home Page CSS*/
.docker {
    display: flex;
    justify-content: center;
    height: 500px;
}

.docker-1 {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin: 20px;
}

h2 {
    color: black;
    font-weight: bold;
    }

/* Navigation bar list */
ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

main {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    margin-bottom: 60px;
}

/* Navigation Bar*/
.main-nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 300px;
}
li {
    padding: 0px 20px;
    text-align: center;
}

li:hover {
    color: #3aaed8;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

li .highlight {
    visibility: hidden;
}

li:hover .highlight,
li.active .highlight{
    visibility: visible;
    color: red;
    font-weight: bold;
}

/* Logo and Company Name */
.logo-section {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 60px;
    margin-left: 20px;
        font-weight: bold;
    color: #8B0000;
    text-align: left;
    display: flex;
    align-items: center;
}

.company-name2 {
    font-size: 60px;
    color: #3aaed8;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
}

.company-logo {
    height: 5rem;
    width: 5rem;
}

/* Section Headings */
.seperator-line {
    border-top: 5px solid black;
    width: 100%;
}


/* Form Styles */

label {
    font-size: 30px;
    font-weight: bold;
    color: #3aaed8;
}

button[type="Submit"], button[type="signin"], button[type="signup"] {
    background-color: lightblue;
    font-weight: bold;  
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

button[type="signup"] {
    background-color: lightgray;
}

input[type="password"], input[type="text"], input[type="number"], input[type="email"] {
    color: lightslategray;
    width: 300px;
    font-weight: bold;  
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

/* Facility Content (Encompasses both map and data table)*/

.facility-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.table-container, .map-container {
  flex: 1; 
  text-align: center; 
  background-color: #f0f0f0;
}



/* Login Styles */

.login-body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}

.login-container {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}

table {
    margin: 0 auto;
    border-color: black;
}


/* Account Portal */
.account-portal-body {
    margin-top: 15px;
    display: flex;
}

.account-portal-settings {
    justify-content: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.account-portal-container {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    width: 100%;
}

ul.settings-list {
    margin: 10px 0;
    display: flex;
    text-align: left;
    flex-direction: column;
}

li.settings {
    margin: 10px 0;
    text-align: left;
}


/* Testimonies section */
.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.content-card {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255,255,0.95);
    width: 80%;
    max-width: 1000px;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow:hidden;
}

.card-image{
    width: 40%;
    height: auto;
    object-fit:cover;
}

.card-text{
    padding:30px;
}

.card-text h2 {
    margin-top: 0;
    color: #333;
}

.card-text p {
    color: #555;
    line-height:1.6;
}
