/* General body and layout */
body {
    font-family: 'Lexend', Arial, sans-serif;
    font-size: 20px;
    background-color: #f4f1ee;
    color: #3aaed8;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

footer {
    background-color: #3aaed8;
    color: #f4f1ee;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header {
    background-image: linear-gradient(to bottom, #C09ADB  , #e6e6fa);
    padding: 20px 0px;
    display: flex;
    font-color: #3aaed8;
}

/* Navigation bar list */
ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    padding: 20px;
    margin-bottom: 60px; 
    display: block;
    text-align: center; 
}

.logo-section {
    justify-content: center;
    text-align: center;
    max-width: auto;
    height: auto;
    display: flex; 
}

/* Navigation Bar*/
.main-nav {
    margin-right: 50px;
    background-color: #b3e6fc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    border:  1px, solid black;
    border-radius: 10px;
}
li {
    padding: 0px 10px;
}

li:hover {
    background-color: #f4f1ee;
    color: #3aaed8;
    font-weight: bold;
    border:  1px, solid blue;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}


.company-name {
    font-size: 60px;
    font-weight: bold;
    margin-left: 20px;
    color: #8B0000;
    text-align: left;
    display: flex;
    align-items: center;
    background-image; radial-gradient(circle, #3aaed8, #b3e6fc);
}

.company-name2 {
    font-size: 60px;
    font-weight: bold;
    color: #3aaed8;
    text-align: left;
    display: flex;
    align-items: center;
    background-image; radial-gradient(circle, #3aaed8, #b3e6fc);
}

.company-logo {
    height: 8rem;
    width: 8rem;
    margin-left: 40px;
}

.seperator-line {
    border-top: 5px solid black;
    width: 100%;
}